@import url("//cloud.typenetwork.com/projects/2628/fontface.css");
@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 100; src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff"); }

@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 300; src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"); }

@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"); }

@font-face { font-family: 'Montserrat'; font-style: italic; font-weight: 400; src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff"); }

@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 700; src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"); }

@font-face { font-family: 'Socicon'; src: url("../fonts/Socicon.eot"); src: url("../fonts/Socicon.eot?#iefix") format("embedded-opentype"), url("../fonts/Socicon.woff2") format("woff2"), url("../fonts/Socicon.woff") format("woff"), url("../fonts/Socicon.ttf") format("truetype"), url("../fonts/Socicon.svg#Socicon") format("svg"); font-weight: normal; font-style: normal; }

.social-icon { font-family: "Socicon"; }

.facebook:before { content: "\e028"; }

.twitter:before { content: "\e08d"; }

.linkedin:before { content: "\e04c"; }

.tumblr:before { content: "\e08b"; }

.instagram:before { content: "\e044"; }

.linkedin:before { content: '\e04c'; }

.pinterest:before { content: '\e063'; }

.weibo:before { content: '\e098'; }

.wechat:before { content: '\e097'; }

@font-face { font-family: 'Material Icons'; font-style: normal; font-weight: 400; src: url("../fonts/MaterialIcons-Regular.eot"); /* For IE6-8 */ src: local("Material Icons"), local("MaterialIcons-Regular"), url("../fonts/MaterialIcons-Regular.woff2") format("woff2"), url("../fonts/MaterialIcons-Regular.woff") format("woff"), url("../fonts/MaterialIcons-Regular.ttf") format("truetype"); }

i { font-family: 'Material Icons'; font-weight: normal; font-style: normal; display: inline-block; line-height: 1; font-size: 24px; text-transform: none; letter-spacing: normal; word-wrap: normal; white-space: nowrap; direction: ltr; /* Support for all WebKit browsers. */ -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */ text-rendering: optimizeLegibility; /* Support for Firefox. */ -moz-osx-font-smoothing: grayscale; /* Support for IE. */ font-feature-settings: 'liga'; }

.icon-xsmall { font-size: 12px; /* Preferred icon size */ }

.icon-small { font-size: 18px; /* Preferred icon size */ }

.icon-medium { font-size: 24px; /* Preferred icon size */ }

.icon-large { font-size: 36px; /* Preferred icon size */ }

html, body { margin: 0; padding: 0; border: 0; position: relative; }

.main-logo, .alt-logo { color: #000000; width: 100%; text-align: center; font-family: "Big Caslon", sans-serif; font-weight: normal; }

.logo-small { font-size: 30px; letter-spacing: 4px; }

.logo-medium { font-size: 30px; letter-spacing: 6px; }

.logo-large { font-size: 100px; letter-spacing: 12px; }

.alt-logo { position: relative; z-index: 1; overflow: hidden; text-align: center; margin: 0; padding: 20px 0; }

.alt-logo:before, .alt-logo:after { position: absolute; top: 51%; overflow: hidden; width: 50%; height: 1px; content: '\a0'; background-color: #000000; }

.alt-logo:before { margin-left: calc(-50% - 20px); text-align: right; }

.alt-logo:after { margin-left: 14px; }

.dark { background-color: #000000; color: #fff; }

.dark:before, .dark:after { background-color: #fff; }

body { font-family: 'Montserrat'; font-weight: 400; color: #000; }

h1, h2, h3, h4, p, span { margin: 0; }

h1 { text-transform: uppercase; letter-spacing: 1px; font-size: 50px; margin: 8px 0; }

h2 { text-transform: uppercase; font-size: 40px; }

h3 { text-transform: uppercase; font-size: 30px; }

.small-heading { text-transform: uppercase; font-size: 22px; }

.button-heading { font-size: 19px; }

.small-side-heading { font-size: 14px; }

.title { text-decoration: underline; margin: 40px 0 10px; clear: left; }

.section { float: left; clear: left; }

.section:not(:first-child) { margin-top: 80px; }

a { color: #000; text-decoration: none; }

a .underline { transition: all 0.2s ease; color: #000; text-decoration: none; }

a .underline:hover, a .underline:focus { border-bottom: 1px solid #666666; color: #808080; }

.underline { border-bottom: 1px solid #000; }

p { font-size: 14px; line-height: 22px; margin-bottom: 15px; }

.paragraph-medium { font-size: 22px; }

.paragraph-large { font-size: 30px; }

.small-text, .title { font-size: 10px; float: left; }

.overlay-bar-text { text-transform: uppercase; text-align: center; font-size: 22px; letter-spacing: 2px; color: #000; font-size: 28px; font-family: 'Montserrat'; font-weight: 100; }

.icon { width: 30px; height: 30px; }

.fb { background: none url("/public/icons/facebook-logo.png") no-repeat fixed center; }

.button { padding: 10px; font-size: 12px; letter-spacing: 1px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; cursor: pointer; color: #FFF; font-family: 'Montserrat'; font-weight: 100; }

.button:active { color: #fff; background-color: #5c5b5b; -webkit-box-shadow: inset 0px 0px 15px 0px black; -moz-box-shadow: inset 0px 0px 15px 0px black; box-shadow: inset 0px 0px 15px 0px black; }

.button.black { background-color: #000; }

.button.disabled { background-color: #AAA; }

.button:hover { background-color: #5c5b5b; color: #fff; }

.shrink { animation: 1s navshrink forwards; }

.expand { animation: 1s navexpand forwards; }

@keyframes navshrink { 0% { font-size: 50px;
    margin-top: 0; }
  100% { margin-top: -98px;
    font-size: 20px; } }

@-webkit-keyframes navshrink { 0% { font-size: 50px;
    margin-top: 0; }
  100% { margin-top: -98px;
    font-size: 20px; } }

@-moz-keyframes navshrink { 0% { font-size: 50px;
    margin-top: 0; }
  100% { margin-top: -98px;
    font-size: 20px; } }

@-o-keyframes navshrink { 0% { font-size: 50px;
    margin-top: 0; }
  100% { margin-top: -98px;
    font-size: 20px; } }

@keyframes navexpand { 0% { margin-top: -98px;
    font-size: 20px; }
  100% { font-size: 50px;
    margin-top: 0; } }

@-webkit-keyframes navexpand { 0% { margin-top: -98px;
    font-size: 20px; }
  100% { font-size: 50px;
    margin-top: 0; } }

@-moz-keyframes navexpand { 0% { margin-top: -98px;
    font-size: 20px; }
  100% { font-size: 50px;
    margin-top: 0; } }

@-o-keyframes navexpand { 0% { margin-top: -98px;
    font-size: 20px; }
  100% { font-size: 50px;
    margin-top: 0; } }

@media (min-width: 768px) { .overlay-bar-text { background-color: rgba(0, 0, 0, 0.5); color: #fff; text-align: center; font-size: 32px; padding: 10px 0; height: 40px; font-family: 'Montserrat'; font-weight: 100; }
  .vertical-align-middle { position: relative; display: block; width: 100%; margin-top: -30%; }
  .logo-medium { font-size: 50px; letter-spacing: 20px; } }
