<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Look-Book</title>
    <link rel='stylesheet' href="./profiles.css" 
</head> 
    
<body>
    
    <h1 align="center">Foglio</h1>
    <h6 align="center">NYC</h6>
    <br>
    <hr width="40%">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    
    <div class="container-1">
        <div class="container-1-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1168995/1168995_ou_sl.jpg">
                <img src="./lookbook_imges/1-prada.jpg" alt="PRADA Cashmere and shell midi dress$1,560"
                    style="width:200px"></a>
            <h5 align="center">PRADA</h5>
            <h6 align="center">Cashmere and shell midi dress</h6>
        </div>
        <div class="container-1-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1135166/1135166_ou_sl.jpg">
                <img src="./lookbook_imges/2-SAINT LAURENT.jpg" alt="SAINT LAURENT Leather tank $1,0766"
                    style="width:200px"></a>
            <h5 align="center">SAINT LAURENT</h5>
            <h6 align="center">Leather tank</h6>
        </div>

        <div class="container-1-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1164564/1164564_ou_sl.jpg">
                <img src="./lookbook_imges/3-ANDREW GN.jpg"
                    alt="ANDREW GN Belted lace-trimmed appliquéd crepe midi dress$3,010" style="width:200px"></a>
            <h5 align="center">ANDREW GN</h5>
            <h6 align="center">Belted lace-trimmed appliquéd crepe midi dress</h6>
        </div>

        <div class="container-1-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1103216/1103216_ou_sl.jpg">
                <img src="./lookbook_imges/4-NAEEM KHAN.jpg" alt="NAEEM KHAN Nevada beaded silk-chiffon jumpsuit $7,495"
                    style="width:200px"></a>
            <h5 align="center">NAEEM KHAN</h5>
            <h6 align="center">Nevada beaded silk-chiffon jumpsuit</h6>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-2">
        <div class="container-2-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1153232/1153232_ou_sl.jpg">
                <img src="./lookbook_imges/7-CHLOÉ.jpg" alt="CHLOÉ Pintucked silk crepe de chine blouse$1,795"
                    style="width:200px"></a>
            <h5 align="center">CHLOÉ</h5>
            <h6 align="center">Pintucked silk crepe de chine blouse</h6>
        </div>

        <div class="container-2-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1101613/1101613_fr_sl.jpg">
                <img src="./lookbook_imges/6-NICHOLAS KIRKWOOD.jpg"
                    alt="NICHOLAS KIRKWOOD Beya textured-leather slingback flats$540" style="width:200px"></a>
            <h5 align="center">NICHOLAS KIRKWOOD</h5>
            <h6 align="center">Beya textured-leather slingback flats</h6>
        </div>

        <div class="container-2-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1151495/1151495_ou_sl.jpg">
                <img src="./lookbook_imges/5-BOTTEGA VENETA.jpg"
                    alt="BOTTEGA VENETA Intrecciato leather shoulder bag$1,250" style="width:200px"></a>
            <h5 align="center">BOTTEGA VENETA</h5>
            <h6 align="center">Intrecciato leather shoulder bag</h6>
        </div>

        <div class="container-2-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1148916/1148916_ou_sl.jpg">
                <img src="./lookbook_imges/8-JOSEPH.jpg" alt="JOSEPH Jack silk-satin straight-leg pants$570"
                    style="width:200px"></a>
            <h5 align="center">JOSEPH</h5>
            <h6 align="center">Jack silk-satin straight-leg pants</h6>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-3">
        <div class="container-3-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1169477/1169477_ou_sl.jpg">
                <img src="./lookbook_imges/9-MAISON MARGIELA.jpg"
                    alt="MAISON MARGIELA Cutout wool and cashmere-blend sweater$785" style="width:200px"></a>
            <h5 align="center">MAISON MARGIELA</h5>
            <h6 align="center">Cutout wool and cashmere-blend sweater</h6>
        </div>

        <div class="container-3-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1153381/1153381_ou_sl.jpg">
                <img src="./lookbook_imges/10-CHLOÉ.jpg" alt="CHLOÉ Annie leather shoulder bag$1,9905"
                    style="width:200px"></a>
            <h5 align="center">CHLOÉ</h5>
            <h6 align="center">Annie leather shoulder bag</h6>
        </div>

        <div class="container-3-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1134893/1134893_ou_sl.jpg">
                <img src="./lookbook_imges/11-GALVAN.jpg" alt="PGALVAN Satin trench coat $1,495"
                    style="width:200px"></a>
            <h5 align="center">GALVAN</h5>
            <h6 align="center">Satin trench coat</h6>
        </div>

        <div class="container-3-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1139166/1139166_ou_sl.jpg">
                <img src="./lookbook_imges/12-LISA MARIE FERNANDEZ.jpg"
                    alt="LISA MARIE FERNANDEZ Laure broderie anglaise cotton jumpsuit$795" style="width:200px"></a>
            <h5 align="center">LISA MARIE FERNANDEZ</h5>
            <h6 align="center">Laure broderie anglaise cotton jumpsuit</h6>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container-4">
        <div class="container-4-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1151242/1151242_ou_sl.jpg">
                <img src="./lookbook_imges/13-GIVENCHY.jpg" alt="GIVENCHY Jersey and pleated faux leather dress $1,890"
                    style="width:200px"></a>
            <h5 align="center">GIVENCHY</h5>
            <h6 align="center">Jersey and pleated faux leather dress</h6>
        </div>

        <div class="container-4-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1153876/1153876_ou_sl.jpg">
                <img src="./lookbook_imges/14-ISABEL MARANT.jpg"
                    alt="ISABEL MARANT Deagan double-breasted checked cotton-blend blazer$1,125"
                    style="width:200px"></a>
            <h5 align="center">ISABEL MARANT</h5>
            <h6 align="center">Deagan double-breasted checked cotton-blend blazer</h6>
        </div>

        <div class="container-4-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1151701/1151701_fr_sl.jpg">
                <img src="./lookbook_imges/15-BOTTEGA VENETA.jpg"
                    alt="BOTTEGA VENETA Canvas and leather espadrilles $620" style="width:200px"></a>
            <h5 align="center">GBOTTEGA VENETA</h5>
            <h6 align="center">Canvas and leather espadrilles</h6>
        </div>

        <div class="container-4-box">
            <a target="_blank" href="https://cache.net-a-porter.com/images/products/1060637/1060637_ou_sl.jpg">
                <img src="./lookbook_imges/16-PRADA.jpg" alt="PRADA Pleated silk crepe de chine midi dress$2,340"
                    style="width:200px"></a>
            <h5 align="center">PRADA</h5>
            <h6 align="center">Pleated silk crepe de chine midi dress</h6>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <hr width="40%">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <script src="assets/javascript/main.js"></script>




























    </body>

</html>